*.step filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.kicad_pcb filter=lfs diff=lfs merge=lfs -text
*.kicad_pro filter=lfs diff=lfs merge=lfs -text
docs/hardware/images/** filter=lfs diff=lfs merge=lfs -text
docs/diagrams/**/*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
